# Visual Studio related files
.vs/
bin/
obj/
.cursor/
.vscode/

# Other common .NET ignored files
*.suo
*.user
*.log
*.pdb
*.dll
*.exe

# Icon libraries - Ignoring for now
UI/Icons/Tabler/filled/
UI/Icons/Tabler/outline/

instructions.md

